<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <rewrite>
            <rules>
                <rule name="iisNodesetup Proxy">
                    <match url="^(.*)$" />
                    <action type="Rewrite" url="http://localhost:7007/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
